/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* seethrough datepicker fix */
mat-option {
background-color: white !important;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

/* Fix for Calendar Inside Popup */
.mat-calendar {
    background-color: white !important;
}

/* Ensure Calendar Cells Are Not Transparent */
.mat-calendar-body-cell {
    background-color: white !important;
}

/* Fix Hover and Selected State */
.mat-calendar-body-cell:hover,
.mat-calendar-body-selected {
    background-color: #f0f0f0 !important;
}
