<div class="container">
  <div class="row">
    <div *ngIf="status">
      @let messageClass = status ? statusClass : 'alert alert-primary';
      <div [ngClass]="messageClass" role="alert">
        {{ status }}
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center" *ngIf="dataSource.length">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!isEditing.get(element.id)">
            {{ element.name }}
          </div>
          <form *ngIf="isEditing.get(element.id)">
            <input
              type="text"
              class="form-control mb-2 w-25"
              name="name"
              [(ngModel)]="element.name"
              placeholder="Name" />
          </form>
        </td>
      </ng-container>

      <ng-container matColumnDef="editDelete">
        <th mat-header-cell *matHeaderCellDef>Edit/Delete</th>
        <td mat-cell *matCellDef="let element">
          <button
            *ngIf="isEditing.get(element.id)"
            class="btn btn-success bi bi-check-square m-2"
            (click)="editUser(element.id, element.name)"
            aria-label="Save changes"></button>
          <button
            *ngIf="!isEditing.get(element.id)"
            class="btn btn-secondary m-2 bi bi-pen"
            (click)="toggleEditUserForm(element.id)"
            aria-label="Edit"></button>
          <button class="btn btn-danger" (click)="deleteUser(element.id)">X</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-4 justify-content-center align-items-center text-center">
      <button *ngIf="!isAdding" class="btn btn-success" (click)="toggleAddUserForm()">Add User</button>
      <button *ngIf="isAdding" class="btn btn-primary" (click)="toggleAddUserForm()">Hide Form</button>
      <form *ngIf="isAdding" class="mt-4">
        <input type="text" class="form-control mb-2" name="name" [(ngModel)]="name" placeholder="Name" />
        <button class="btn btn-success mt-4" (click)="addUser()">Create User</button>
      </form>
    </div>
  </div>
</div>
